/* Переменные - (Мега удобно, избегаем повторений цвета итд занося один раз в переменные)*/
:root {
    --color-brand-light: #819B57;
    --color-brand-dark-green: #465929;

    --color-primary-dark: #31261a;
    --color-pimary-light: #faf4ea;
}



/* Base */
ul {
    /* -убираем кружки у списка */
    list-style-type: none;
}

body {
    color: var(--color-primary-dark);
}


/* button */
.button {
    background-color: var(--color-brand-light);
    border-radius: 8px;
    border: 2px solid var(--color-brand-light);
    color: var(--color-pimary-light);
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-dark-green);
}

/* Link */
.link {
    color: var(--color-pimary-light);
    /* font-size: 18px;
    font-weight: 400; */
}

.link:hover {
    color: var(--color-brand-light);
}

/* hero section */
.hero-title {
    color: var(--color-pimary-light);
}

.hero-title .accent {
    color: var(--color-brand-light);
}

/* .adveantages section */
.adveantages-list {
    color: var(--color-pimary-light);
    background-color: var(--color-brand-light);
}

.section-title .accent {
    color: var(--color-brand-dark-green);
}