@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}


@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}


/* Переменные - (Мега удобно, избегаем повторений цвета итд занося один раз в переменные)*/
:root {
    --color-brand-light: #819B57;
    --color-brand-dark-green: #465929;

    --color-primary-dark: #31261a;
    --color-pimary-light: #faf4ea;
}



/* Base */
address {
    font-style: normal;
}

ul {
    /* -убираем кружки у списка */
    list-style-type: none;
}

body {
    color: var(--color-primary-dark);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    /* line-height: 27px; (27/18=1,5)*/
    line-height: 1.5;
}


/* button */
.button {
    background-color: var(--color-brand-light);
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid var(--color-brand-light);
    color: var(--color-pimary-light);
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-dark-green);
}

/* Link */
.link {
    color: var(--color-pimary-light);
    text-decoration: none;
}

.link:hover {
    color: var(--color-brand-light);
    font-weight: 600;
}

/* hero section */
.hero-title {
    color: var(--color-pimary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
}

.hero-title .accent {
    color: var(--color-brand-light);
}

/* .adveantages section */
.adveantages-item {
    font-size: 20px;
    font-weight: 300;

}

.adveantages-list {
    color: var(--color-pimary-light);
    background-color: var(--color-brand-light);
}

.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title .accent {
    color: var(--color-brand-dark-green);
}

/* tradition-text */
.tradition-text .bakery {
    color: var(--color-brand-light);
    font-weight: 600;
}

.tradition-text .uppercase {
    text-transform: uppercase;
}

/* Chef */
.chef-title {
    font-size: 40px;
    font-weight: 600;
}

/* Format */
.form-title {
    font-size: 24px;
    font-weight: 600;
}

.format-text {
    font-weight: 300;
    font-size: 14px;
}

/* Footer  */
.address-link {
    color: var(--color-pimary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-light);
}

.address-copiright {
    font-size: 14px;
}